// Phone small - Extra small screen
$screen-phone-small-min: 320px;
$screen-phone-small-max: 319px;

$screen-phone-medium-min: 360px;
$screen-phone-medium-max: 359px;

// Phone - Small screen
$screen-phone-min: 480px;
$screen-phone-max: 479px;

// Tablet - Small screen
$screen-tablet-min: 768px;
$screen-tablet-max: 767px;

// Desktop - Medium screen
$screen-desktop-min: 1000px;
$screen-desktop-max: 999px;

// Desktop Widescreen - Large screen
$screen-monitor-min: 1300px;
$screen-monitor-max: 1299px;
