// .Bullet {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
// }

// .Bullet-content {
//   display: flex;
// }

// .Bullet-color-p {
//   color: #212121;
//   margin: 2px 0 0 8px;
// }

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
